Node-red/esp32-node-red-flow
[{"id":"66b2ac91.abdcf4","type":"inject","z":"af6260be.8be2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":290,"y":240,"wires":[["a5ab0b9.36a61f8","dbf50b02.fe6288"]]},{"id":"933939ea.263418","type":"mqtt out","z":"af6260be.8be2c","name":"","topic":"nred2esp/servoZCMD/1","qos":"","retain":"","broker":"784f4d53.206ce4","x":1090,"y":200,"wires":[]},{"id":"81e5e029.60aa9","type":"mqtt out","z":"af6260be.8be2c","name":"","topic":"nred2esp/servoZCMD/0","qos":"","retain":"","broker":"784f4d53.206ce4","x":1050,"y":300,"wires":[]},{"id":"13206bed.5362e4","type":"ui_numeric","z":"af6260be.8be2c","name":"Horiz-Degrees","label":"Horiz-Degrees","tooltip":"","group":"9824c54e.e01c28","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"esp32Cam1/servo/horiz","topicType":"str","format":"{{value}}","min":0,"max":"180","step":1,"x":620,"y":200,"wires":[["5dede2d0.d0beec"]]},{"id":"48591ec5.22126","type":"ui_numeric","z":"af6260be.8be2c","name":"Vert-Degrees","label":"Vertical-Degrees","tooltip":"","group":"9824c54e.e01c28","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"esp32Cam1/servo/vert","topicType":"str","format":"{{value}}","min":0,"max":"90","step":1,"x":610,"y":300,"wires":[["fa63e5e4.bf8668"]]},{"id":"dbf50b02.fe6288","type":"ui_slider","z":"af6260be.8be2c","name":"Vertical","label":"Vertical","tooltip":"","group":"9824c54e.e01c28","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0","max":"90","step":1,"x":420,"y":300,"wires":[["48591ec5.22126"]]},{"id":"a5ab0b9.36a61f8","type":"ui_slider","z":"af6260be.8be2c","name":"Horiz","label":"Horizontal","tooltip":"","group":"9824c54e.e01c28","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0","max":"180","step":1,"x":410,"y":200,"wires":[["13206bed.5362e4"]]},{"id":"5dede2d0.d0beec","type":"range","z":"af6260be.8be2c","minin":"0","maxin":"180","minout":"35","maxout":"120","action":"scale","round":true,"property":"payload","name":"Convert ° to duty cycle","x":840,"y":200,"wires":[["933939ea.263418"]]},{"id":"fa63e5e4.bf8668","type":"range","z":"af6260be.8be2c","minin":"0","maxin":"180","minout":"50","maxout":"100","action":"scale","round":true,"property":"payload","name":"Convert ° to duty cycle","x":820,"y":300,"wires":[["81e5e029.60aa9"]]},{"id":"784f4d53.206ce4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9824c54e.e01c28","type":"ui_group","name":"esp32","tab":"bd8c96cb.64a5d8","order":1,"disp":true,"width":"6","collapse":true},{"id":"bd8c96cb.64a5d8","type":"ui_tab","name":"Servo","icon":"dashboard","order":2,"disabled":false,"hidden":false}]