Node-red/pi0-node-red-flow
[{"id":"34136d4b.287d02","type":"ui_slider","z":"3b177363.efe18c","name":"Horiz","label":"Horizontal","tooltip":"","group":"edc00d8d.cafb7","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"pi0rojocam/servo","topicType":"str","min":"0","max":"180","step":1,"x":310,"y":600,"wires":[["4d5da594.fbeb5c"]]},{"id":"8fc63185.6db44","type":"inject","z":"3b177363.efe18c","name":"pi0rojocam","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"75","payloadType":"num","x":140,"y":640,"wires":[["460de328.b7892c","34136d4b.287d02"]]},{"id":"5a3573c4.66b00c","type":"mqtt out","z":"3b177363.efe18c","name":"","topic":"","qos":"","retain":"","broker":"784f4d53.206ce4","x":750,"y":600,"wires":[]},{"id":"460de328.b7892c","type":"ui_slider","z":"3b177363.efe18c","name":"Vertical","label":"Vertical","tooltip":"","group":"edc00d8d.cafb7","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"pi0rojocam/servo","topicType":"str","min":"60","max":"120","step":1,"x":320,"y":680,"wires":[["e5b2705.d66f29"]]},{"id":"4d5da594.fbeb5c","type":"ui_numeric","z":"3b177363.efe18c","name":"Horiz-Degrees","label":"Horiz-Degrees","tooltip":"","group":"edc00d8d.cafb7","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"pi0rojocam/servo","topicType":"str","format":"{{value}}","min":0,"max":"180","step":1,"x":460,"y":600,"wires":[["ad3f3e97.7550f"]]},{"id":"e5b2705.d66f29","type":"ui_numeric","z":"3b177363.efe18c","name":"Vert-Degrees","label":"Vertical-Degrees","tooltip":"","group":"edc00d8d.cafb7","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"pi0rojocam/servo","topicType":"str","format":"{{value}}","min":"60","max":"120","step":1,"x":470,"y":680,"wires":[["a190addb.3d859"]]},{"id":"ad3f3e97.7550f","type":"function","z":"3b177363.efe18c","name":"","func":"var fields = {};\n\nfields['horiz'] = msg.payload;\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":600,"wires":[["5a3573c4.66b00c"]]},{"id":"a190addb.3d859","type":"function","z":"3b177363.efe18c","name":"","func":"var fields = {};\n\nfields['vert'] = msg.payload;\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":680,"wires":[["c174a1ba.d70a"]]},{"id":"c174a1ba.d70a","type":"mqtt out","z":"3b177363.efe18c","name":"","topic":"","qos":"","retain":"","broker":"784f4d53.206ce4","x":750,"y":680,"wires":[]},{"id":"edc00d8d.cafb7","type":"ui_group","name":"Pi0RojoCam-start","tab":"bd8c96cb.64a5d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"784f4d53.206ce4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd8c96cb.64a5d8","type":"ui_tab","name":"Servo","icon":"dashboard","order":2,"disabled":false,"hidden":false}]