Node-red/pi0-node-red-flow
[{"id":"28d30272.049b6e","type":"ui_slider","z":"3b177363.efe18c","name":"Horiz","label":"Horizontal","tooltip":"","group":"32ea7c9a.f9ad64","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0","max":"180","step":1,"x":310,"y":400,"wires":[["e1cad313.99416"]]},{"id":"21c90254.7e539e","type":"inject","z":"3b177363.efe18c","name":"pi0rojocam","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"75","payloadType":"num","x":140,"y":440,"wires":[["c4ca77a1.ec4c98","28d30272.049b6e"]]},{"id":"35dbf47a.4e05bc","type":"mqtt out","z":"3b177363.efe18c","name":"","topic":"nred2pi/servoZCMD/1","qos":"","retain":"","broker":"784f4d53.206ce4","x":660,"y":400,"wires":[]},{"id":"c4ca77a1.ec4c98","type":"ui_slider","z":"3b177363.efe18c","name":"Vertical","label":"Vertical","tooltip":"","group":"32ea7c9a.f9ad64","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"60","max":"120","step":1,"x":320,"y":480,"wires":[["7c775862.84ff38"]]},{"id":"acbd16bb.ad1e98","type":"mqtt out","z":"3b177363.efe18c","name":"","topic":"nred2pi/servoZCMD/0","qos":"","retain":"","broker":"784f4d53.206ce4","x":680,"y":480,"wires":[]},{"id":"e1cad313.99416","type":"ui_numeric","z":"3b177363.efe18c","name":"Horiz-Degrees","label":"Horiz-Degrees","tooltip":"","group":"32ea7c9a.f9ad64","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"pi0rojocam/servo/horz","format":"{{value}}","min":0,"max":"180","step":1,"x":460,"y":400,"wires":[["35dbf47a.4e05bc"]]},{"id":"7c775862.84ff38","type":"ui_numeric","z":"3b177363.efe18c","name":"Vert-Degrees","label":"Vertical-Degrees","tooltip":"","group":"32ea7c9a.f9ad64","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"pi0rojocam/servo/vert","format":"{{value}}","min":"60","max":"120","step":1,"x":470,"y":480,"wires":[["acbd16bb.ad1e98"]]},{"id":"5474469a.0c86d8","type":"comment","z":"3b177363.efe18c","name":"Topic contains horiz/vert","info":"","x":760,"y":440,"wires":[]},{"id":"32ea7c9a.f9ad64","type":"ui_group","name":"Pi0RojoCam-A","tab":"bd8c96cb.64a5d8","order":3,"disp":true,"width":"6","collapse":true},{"id":"784f4d53.206ce4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bd8c96cb.64a5d8","type":"ui_tab","name":"Servo","icon":"dashboard","order":2,"disabled":false,"hidden":false}]